body{
    background-image: url(../imagenes/g2.gif);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    background-color: cornflowerblue;
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
}
div{
    margin-top: 20px;
}
.container{
    margin-top: 10px;
}